body{
    font-family: "Times New Roman", Times, serif;
}

header{
    text-align: center;
}
.tempButtons{
    margin-bottom: 1rem;
}

.units{
    border: none
}

.currentTemp{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: center;
    justify-items: center;
    margin-top: 1rem;
}

.descriptionSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
    justify-content: center;
    column-gap: 10px;
}

.description{
    justify-self: start;
    color: rgb(0, 132, 255);
    font-size: larger;
}

.card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: aqua;
    padding: 15px;
    align-items: center;
    height: 80px;
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.moreInfo{
    display: grid;
    grid-template-columns: 180px 180px 180px;
    column-gap: 45px;
    justify-content: center; 
}

.moreInfoIcon{
    justify-self: end;
}

.units:focus{
    color: red;
    outline: none;
}

.location{
    width: 300px;
    height: 25px;
    margin: 0 auto;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 10px;
    padding-left: 0.5rem;
}

.location:focus{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.headings{
    color: rgb(0, 132, 255);
    font-size: large;
    font-weight: 100;
}

.numbers{
    font-size: x-large
}

h1{
    color: rgb(0, 132, 255);
}

@media only screen and (max-width: 600px) {
    .moreInfo{
        grid-template-columns: 200px;
        row-gap: 25px;
    }
  }
#icon{
    height: 80px;
}
